/.cache/
/.lsp-session
/auto-save-list/
/autosaves/
/backups/
/bookmarks
/calc.el
/elfeed/
/eln-cache/
/elpa/
/eshell/
/history/
/multisession/
/projects
/speed-type/
/tramp
/transient/
/tree-sitter/
/url/
*.elc
*.eln
flycheck_*.el
.aider*
.env
/private/
